.movieData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px yellow solid;
    width: 95%;
}

.gridPoster {
    margin: 10px 10px 10px 10px;
}

.gridPoster img {
    size: 100%;
    margin: 10px 10px 10px 10px;
    display: flex;
}

.gridPoster > .watchFav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px yellow solid;
}

.movieDetails {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.movieDetails > * {
    flex: 1;
}

.movieDetails h1 {
    color: yellow;
}

.ratingsMovie {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ratingsMovie .ratingsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingsMovie img {
    max-width: 55px;
}

.movieInfo {
    display: flex;
    flex-direction: column;
}
.movieInfoElem{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.movieInfoElem > * {
    flex: 1;
}

.movieInfoElem > span {
    color: yellow;
}

.moviePlot {
    border: 1px white double;
    margin-left: 10px;
    margin-right: 10px;
}

/************************ icons CSS *************/

.watchFav > * {
    flex: 1;
    background-color: rgb(0, 0, 0);
}

.watchFav > *:hover{
    background-color: rgb(255, 255, 255);
}

.eyeIcon_select{
    flex: 1;
    color: rgb(16, 156, 16);
    border-right: 2px yellow solid;
} 

.eyeIcon{
    color: white;
    border-right: 2px yellow solid;
}

.heartIcon_select{
    flex: 1;
    color: rgb(211, 51, 51);

} 

.heartIcon{
    color: white;
}

