.movieGrid{
    display: grid;
    grid-template-areas: 
    "p p p t t t t t t"
    "p p p r r r r r r"
    "p p p d d d d d d"
    "p p p i i i i i i"
    ". . . i i i i i i"
    ". . . i i i i i i"
    ". . . i i i i i i"
    ". . . i i i i i i"
    ". . . i i i i i i"
    ;
}

.movieGrid .gridPoster{
    grid-area: p;
}

.movieGrid h{
    grid-area: t;
    color: yellow;
}

.movieGrid .movieRuntime{
    grid-area: r;
}

.movieGrid .moviePlot{
    grid-area: d;
}

.movieGrid .movieInfo{
    grid-area: i;
    display: flex;
}

.movieInfoElem {
    flex: 1 50%;
    flex-direction: row;
}

.movieInfoElem span {
    color: yellow;

}



