.moviesSet {
    display: flex;
    align-items: center;
    justify-items: space-around;
    flex-direction: column;
}

.moviesSet > * {
    flex: 1;
    display: flex;
    margin: 10px 10px 10px 10px;
}

