.App {
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.searchBar{
  flex: 1;
  display: flex;
}

.searchBar img{
  width: 5%;
}

.filmPage{
  flex: 1;
}






