.App {
  text-align: center;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
        "header"
        "main"
        "main"
        "main"
        "main";
}

header{
  grid-area: header;
}

main{
  grid-area: main;
}




