.App {
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header{
  width: 100%; /* Full width */
  background-color: rgb(168, 158, 12);
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 1;
  align-items: center;
}

li:hover{
  cursor: pointer;
  background-color: grey;
}


li img{
  width: 5%;
}








